@* Datei: Shared/NavMenu.razor *@
@* Seite: NavMenu *@

@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProActive2508</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <AuthorizeView>
            <Authorized Context="state">
           
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
      
               
                @* Nur Projektleiter dürfen Projekte anlegen *@
                @if (state.User.IsInRole("Projektleiter"))
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/ProjekteNeu">
                            <span class="bi bi-speedometer2-nav-menu" aria-hidden="true"></span> Projekte anlegen
                        </NavLink>
                    </div>
                }
                
                @* Projekte anzeigen - für alle angemeldeten Nutzer, Text abhängig von Rolle *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/meine-projekte" Match="NavLinkMatch.Prefix">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                        @if (state.User.IsInRole("Projektleiter"))
                        {
                            <span>Projekte verwalten</span>
                        }
                        else
                        {
                            <span>Projekte</span>
                        }

                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/aufgabenseite" Match="NavLinkMatch.Prefix">
                        <span class="bi bi-check2-square" aria-hidden="true"></span> Aufgaben
                    </NavLink>
                </div>

                @if (state.User.IsInRole("Mitarbeiter"))
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/feedback-liste">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Feedback

                        </NavLink>
                    </div>
                }
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/auswertung">
                        <span class="bi bi-speedometer2-nav-menu" aria-hidden="true"></span> Auswertung
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/profile">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Profile
                    </NavLink>
                </div>

                @*vlt in Profile verschieben*@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/auth/changepassword">
                        <span class="bi bi-speedometer2-nav-menu" aria-hidden="true"></span> Passwort ändern
                    </NavLink>
                </div>

                


                <!-- Kantine -->
                @if (_loading)
                {
                    <div class="nav-item px-3">
                        <span class="nav-link disabled">lädt …</span>
                    </div>
                }
                else
                {
                    @* Diese Woche *@
                    @if (HasDiese)
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/diesewoche" Match="NavLinkMatch.All">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Diese Woche
                            </NavLink>
                        </div>
                    }
                    else if (state.User.IsInRole("Koch"))
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/diesewoche">
                                <span class="bi bi-pencil-square" aria-hidden="true"></span> Diese Woche eintragen
                            </NavLink>
                        </div>
                    }

                    @* Nächste Woche *@
                    @if (HasNaechste)
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/naechstewoche">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Nächste Woche
                            </NavLink>
                        </div>
                    }
                    else if (state.User.IsInRole("Koch"))
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/naechstewoche">
                                <span class="bi bi-pencil-square" aria-hidden="true"></span> Nächste Woche eintragen
                            </NavLink>
                        </div>
                    }

                    @* In 2 Wochen *@
                    @if (HasIn2)
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/in2wochen">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> In 2 Wochen
                            </NavLink>
                        </div>
                    }
                    else if (state.User.IsInRole("Koch"))
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/in2wochen">
                                <span class="bi bi-pencil-square" aria-hidden="true"></span> In 2 Wochen eintragen
                            </NavLink>
                        </div>
                    }
                    if (state.User.IsInRole("Koch"))
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/kantine/auswertungen">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Auswertungen
                        </NavLink>
                    </div>
                    }
                }

                
            </Authorized>

            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/auth/login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>
