<!-- Seite: wwwroot/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- Du brauchst EINE Bootstrap-Quelle. Entweder lokal ODER CDN, nicht beides. -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <!-- oder:
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    -->

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ProActive2508.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"></script>

    <script src="/jsLisa/app.js"></script>
    <script src="jsLisa/download.js"></script>

    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
