<!-- Seite: wwwroot/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />


    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ProActive2508.styles.css" />
    <link rel="icon" type="image/png" href="Element 1.svg" />



    <script src="/jsLisa/app.js"></script>
    <script src="jsLisa/download.js"></script>



    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/jsLisa/chartInterop.js"></script>



